<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csmide"
    android:installLocation="internalOnly">

    <!-- Permissions -->
    <uses-permission android:name="com.csmide.permission.RUN_COMMAND" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <permission
        android:name="com.csmide.permission.RUN_COMMAND"
        android:description="@string/permission_run_command_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/permission_run_command_label"
        android:protectionLevel="dangerous" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name="com.csmide.termux.app.TermuxApplication"
        android:allowBackup="true"
        android:banner="@drawable/ic_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_code_studio_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.CodeStudio"
        android:testOnly="false"
        tools:targetApi="28">

        <!-- Main IDE Activities -->
        <activity
            android:name="com.csmide.app.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.CodeStudio.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.csmide.app.activities.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CodeStudio"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/x-httpd-php" />
                <data android:mimeType="application/x-perl" />
                <data android:mimeType="application/x-ruby" />
                <data android:mimeType="application/x-c" />
                <data android:mimeType="application/x-cpp" />
                <data android:mimeType="application/x-java-source" />
                <data android:mimeType="application/x-python-code" />
                <data android:mimeType="application/x-kotlin" />
                <data android:mimeType="application/x-swift" />
                <data android:mimeType="application/x-scala" />
                <data android:mimeType="application/sql" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.csmide.app.activities.EditorActivity"
            android:theme="@style/Theme.CodeStudio"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.csmide.app.activities.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.CodeStudio" />
        <activity
            android:name="com.csmide.app.activities.SettingsActivity"
            android:theme="@style/Theme.CodeStudio" />
        <activity
            android:name="com.csmide.app.activities.ManageLanguagesActivity"
            android:theme="@style/Theme.CodeStudio" />
        <activity
            android:name="com.csmide.app.activities.CustomizationActivity"
            android:theme="@style/Theme.CodeStudio" />
        <activity
            android:name="com.csmide.app.activities.MigrationActivity"
            android:theme="@style/Theme.CodeStudio" />

        <!-- Termux & Terminal Activities -->
        <activity
            android:name="com.csmide.termux.app.TermuxActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.TermuxActivity.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".HomeActivity"
            android:exported="true"
            android:targetActivity="com.csmide.termux.app.TermuxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.csmide.termux.app.activities.HelpActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:parentActivityName="com.csmide.termux.app.TermuxActivity"
            android:resizeableActivity="true"
            tools:targetApi="n" />
        <activity
            android:name="com.csmide.termux.app.activities.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_termux_settings"
            android:theme="@style/Theme.TermuxApp.DayNight.NoActionBar" />
        <activity
            android:name="com.csmide.termux.shared.activities.ReportActivity"
            android:documentLaunchMode="intoExisting"
            android:theme="@style/Theme.MarkdownViewActivity.DayNight" />

        <!-- Providers, Receivers & Services -->
        <provider
            android:name="com.csmide.termux.filepicker.TermuxDocumentsProvider"
            android:authorities="com.csmide.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <receiver
            android:name="com.csmide.termux.app.event.SystemEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.csmide.termux.shared.activities.ReportActivity$ReportActivityBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.csmide.termux.app.TermuxService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="true"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name="com.csmide.app.services.AptBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name="com.csmide.app.services.LanguageManagerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name="com.csmide.app.services.MigrationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name="com.csmide.termux.app.RunCommandService"
            android:exported="true"
            android:permission="com.csmide.permission.RUN_COMMAND">
            <intent-filter>
                <action android:name="com.csmide.RUN_COMMAND" />
            </intent-filter>
        </service>

        <!-- Display Metadata -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" />
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
    </application>
</manifest>
